body {
  background: black;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

h1 {
  color: white;
  font-size: 56px;
}

a {
    text-decoration: none;
}

#header {
    height: 100px;
    width: 200px;
    background: black;

    padding: 25px;
    border: 25px solid white;
    margin: 15px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
