body {
  background: black;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

h1 {
  color: white;
  background-color: #333333;
  font-size: 56px;
  border-radius: 15px;
}

a {
  text-decoration: none;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px;
}

#main {
    position: relative;
    margin-left: 250px;
}
